/* Styling for the red div */
#red {
  border-top-color: #f00; /* Red */
}

/* Styling for the orange div */
#orange {
  border-top-color: #ffa500; /* Orange */
}

/* Styling for the yellow div */
#yellow {
  border-top-color: #ff0; /* Yellow */
}

/* Styling for the green div */
#green {
  border-top-color: #00bc3f; /* Green */
}

/* Styling for the blue div */
#blue {
  border-top-color: #06f; /* Blue */
}

/* Styling for the indigo div */
#indigo {
  border-top-color: #8a2be2; /* Indigo */
}

/* Styling for the violet div */
#violet {
  border-top-color: #d300c9; /* Violet */
}
